#list {
  height: auto;
  width: 1.5rem;
  margin: 0 1.5rem;
}
.sidebar-container {
  max-width: 0;
  overflow: hidden;
}

.sidebar-container.show {
  max-width: 100%; /* Adjust this value based on your content */
}
